.head{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    color: white;
    height: 50px;
    align-items: center;
    justify-items:center;
    text-align: center;
    justify-content: center;
}
.block1{
    margin-top: 40px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block1-1{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
