.head{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    color: white;
    height: 10%;
    align-items: center;
    justify-items:center;
    text-align: center;
    justify-content: center;
    font-size: 20%;
}
.block1{
    margin-top: 40px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.block1-1{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.slider * {
    box-sizing: border-box;
}    
.slider {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}
.slider .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    opacity: 1;
    transition: opacity 0.3s;
}
.slider .item:not(.is-active) {
    opacity: 0;
    pointer-events: none;
}
.slider .item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.slider .item .imgs {
    position: relative;
    width: 60%;
    padding-top: 60%;
}
.slider .item .imgs .grid {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    transform: rotate(-20deg);
}
.slider .item .img {
    width: 100%;
    height: 100%;
    position: relative;
    will-change: transform;
    box-shadow: -2px 4px 12px rgba(0,0,0,0.2), -8px 16px 20px rgba(0,0,0,0.2);
    background: #000;
}
.slider .item .img img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    opacity: 0.7;
    transition: opacity 1s;
}
.slider .item .img:hover img {
    opacity: 1;
}
.slider .item .img-1 {
    grid-area: 1/1/7/5;
}
.slider .item .img-2 {
    grid-area: 2/5/7/13;
}
.slider .item .img-3 {
    grid-area: 7/1/12/9;
}
.slider .item .img-4 {
    grid-area: 7/9/13/13;
}
.slider .item .content {
    pointer-events: none;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 120px;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
    font-weight: 600;
    font-family: Verdana, sans-serif;   
    text-align: center;
    text-shadow: 0 0 12px rgba(0,0,0,0.5), 0 2px 6px rgba(0,0,0,0.7);  
    color: #BFE2FF;
    font-size: 44px;
    text-transform: uppercase;  
}
.slider .item .content .item-text {
    color: #FFF;
    font-size: 20px;
    margin-top: 20px;
}
.slider .item .content .item-title .letter {
    display: inline-block;
}
.slider .nav .next, 
.slider .nav .prev {
    height: 80px;
    width: 80px;
    position: absolute;
    top: calc(50% - 40px);
    cursor: pointer;
    z-index: 4;
    transition: transform 0.3s;
}
.slider .nav .next {
    right: 20px;
}
.slider .nav .next:hover {
    transform: translateX(10px);
}
.slider .nav .prev {
    left: 20px;
}
.slider .nav .prev:hover {
    transform: translateX(-10px);
}
.slider .nav .next svg, 
.slider .nav .prev svg {
    stroke: #BFE2FF;
    transition: stroke 0.3s;
}
.slider .nav .next:hover svg, 
.slider .nav .prev:hover svg {
    stroke: #FFF;
}
@media (max-width: 767px) {
    .slider {
        height: 400px;
    }
    .slider .nav .next, 
    .slider .nav .prev {
        height: 40px;
        width: 40px;
        top: calc(50% - 20px);
    }
    .slider .nav .next {
        right: 10px;
    }
    .slider .nav .prev {
        left: 10px;
    }
    .slider .item .content {
        font-size: 20px;
        padding: 0 60px;
    }
    .slider .item .content .item-text {
        font-size: 13px;
    }
}
@media (max-width: 460px) {
    .slider .item .imgs {
        width: 100%;
        padding-top: 100%;
    }
}

.license-wr {
    display: flex;
    background-color: #eee;
    background-repeat: no-repeat;
    background-image: linear-gradient(352deg, transparent 45.2%, #bbb 45.5%, #bbb 45.6%, #ccc 45.8%, #eee 60%), linear-gradient(30deg, #ccc, #eee 90%);
    background-size: 100% 320px;
    background-position: 50% 100%;  
    margin: 20px 0;
}    
.license {
    box-sizing: border-box;
    width: 80%;
    margin: 80px auto 0;
    min-height: 330px;
    position: relative;
}
@media (max-width: 767px) {
    .license {
        transform:scale(0.7);
        top: 6px;
    }
}
@media (max-width: 500px) {
    .license {
        transform:scale(0.4);
        top: 12px;
    }
}
.license > div {
    width: 150px;
    position: absolute;
    left: calc(50% + 100px);
    bottom: 73px;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
}
.license > div:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100px;
    top: 14px;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: linear-gradient(110deg, transparent 49%, rgba(0,0,0,0.1) 45%, rgba(0,0,0,0.2) 65%), linear-gradient(30deg, transparent 46%, rgba(0,0,0,0.1) 45%, rgba(0,0,0,0.25) 65%), radial-gradient(ellipse at 90% 100%, rgba(0,0,0,0.1) 10%, transparent 50%);
    transform: rotate(-8deg);
    pointer-events: none;
}
.license > div:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.3s;
    display: block;
    z-index: 3;
    background-image: linear-gradient(45deg, rgba(0,0,0,0.3), transparent 70%), linear-gradient(45deg, rgba(255,255,255,0) 60%, rgba(255,255,255,0.3) 80%);
    transform: perspective(200px) rotateY(1deg) rotateZ(-5deg) skewY(-2deg) skewX(-1deg) scaleX(var(--resize));
    pointer-events: none;
}
.license > div img {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
    border-left: 2px solid;
    border-image: linear-gradient(105deg, transparent 0.5%, #bbb 0.7%) 1;
    box-shadow: 1px 2px 0 -1px #ccc;
    transform: perspective(200px) rotateY(1deg) rotateZ(-5deg) skewY(-2deg) skewX(-1deg) scaleX(var(--resize));
}
.license > div:nth-of-type(4) {
    --resize: 0.99;
    margin-left: -404px;
}
.license > div:nth-of-type(4):before {
    background-size: 100% 85%, 100% 15%, 100% 10%;
    background-position: 1px 0, 0 100%, -30px 83%;
}
.license > div:nth-of-type(3) {
    --resize: 0.96;
    margin-left: -153px;
    transform: scaleY(0.98) translate(-80px, -21px);
}
.license > div:nth-of-type(3):before {
    background-size: 100% 84%, 100% 16%, 100% 10%;
    background-position: 4px 0, 0 100%, -30px 81%;
}
.license > div:nth-of-type(2) {
    --resize: 0.925;
    margin-left: 100px;
    transform: scaleY(0.965) translate(-170px, -42px);
}
.license > div:nth-of-type(2):before {
    background-size: 100% 83%, 100% 17%, 100% 10%;
    background-position: 6px 0, 1px 100%, -30px 81%;
}
.license > div:nth-of-type(1) {
    --resize: 0.895;
    margin-left: 352px;
    transform: scaleY(0.94) translate(-266px, -62px);
}
.license > div:nth-of-type(1):before {
    background-size: 100% 82%, 100% 18%, 100% 10%;
    background-position: 8px 0, 1px 100%, -30px 80%;
}    

.poster-images {
    padding: .8rem;
    background: #000;
    height: 800px;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr .7fr .3fr 1fr;
    grid-template-rows: 20% 40% 20% 20%;
    grid-template-areas: 'one two two three' 'four five five five' 'six five five five' 'six seven eight eight';
    box-sizing: border-box;
}
@media screen and (max-width:600px) {
    .poster-images {
        height: 600px;
    }
}
.poster-images img {
    width: 100%;
    max-width: none;
    height: 100%;
    object-fit: cover;
    object-position: 40% 0;
    filter: sepia(0.5);
    transition: filter 0.5s;
}
.poster-images a:hover img {
    filter: sepia(0);
}
.poster-images a:nth-child(1) img, 
.poster-images a:nth-child(2) img, 
.poster-images a:nth-child(3) img {
    width: 120%;
    height: 120%;
}
.poster-images a:nth-child(4) img,
.poster-images a:nth-child(9) img {
    width: 135%;
    height: 135%;
}
.poster-images a:nth-child(5) img {
    width: 105%;
    height: 105%;
}
.poster-images a:first-child {
    grid-area: one;
    clip-path: polygon(0% 0%, 93.24% 0%, 105.04% 110.16%, 0% 90%);
}
.poster-images a:nth-child(2) {
    grid-area: two;
    clip-path: polygon(0% 0%, 108.28% 0%, 96.45% 110.13%, 10.55% 110.93%);
}
.poster-images a:nth-child(3) {
    grid-area: three;
    clip-path: polygon(15.05% 0%, 100% 0%, 99.35% 91.7%, 3.08% 108.48%);
}
.poster-images a:nth-child(4) {
    grid-area: four;
    clip-path: polygon(0% -0.85%, 106.34% 9.98%, 121.32% 65.63%, 99.66% 109.89%, 1.86% 124.41%);
}
.poster-images a:nth-child(5) {
    grid-area: five;
    clip-path: polygon(6.4% 6.48%, 47.24% 5.89%, 100% 0%, 98.41% 96.85%, 53.37% 102.5%, 53% 63.21%, 3.23% 73.02%, 14.3% 44.04%);
}
.poster-images a:nth-child(6) {
    grid-area: six;
    clip-path: polygon(2.14% 29.3%, 99.34% 15.42%, 98.14% 100.82%, 1.57% 101.2%);
}
.poster-images a:nth-child(7) {
    grid-area: seven;
    clip-path: polygon(7.92% 33.47%, 96.31% 23.39%, 95.38% 100%, 5.3% 100.85%);
}
.poster-images a:nth-child(8) {
    grid-area: eight;
    clip-path: polygon(2.5% 22.35%, 100% 0%, 100% 100%, 1.55% 100%);
}
.poster-images a:nth-child(9) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    clip-path: polygon(5.94% 28.66%, 100.61% -0.67%, 101.1% 108.57%, 5.4% 126.28%);
}

